/* Css reset*/
body, p, h1,h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  

}
/* box model fix here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


body {
    font-family: 'Signika',sans-serif;
    font-weight: 300;
    color: #333;
    background-color: white;
    font-size: 16px;
}
/* Header */
header {
    background-color: #f3f3f3;
}
header h1 {
    color: black;
    padding: 1rem 0 0 2%;
    font-size: 1.75rem;
    letter-spacing: 2px;
}
header h2 {
    color: black;
    padding: 1rem 0 0 2%;
    font-size: 1.5rem;
}

/* navigation  */
nav {
    background-color: gray;
    border-top: solid 2px black;
    border-bottom: solid 1px black;
}

nav ul.menu {
    list-style-type: none; /* turn off children */
    margin: 0;
    padding: 0 ;
}
nav ul.menu li {
    float: left;
}
nav ul.menu li a {
   display: block;
   padding: .5rem 1.5rem;
   color: #f3f3f3;
   text-decoration: none;
   border-right: solid 1px #f3f3f3;
}

nav ul.menu li a:hover {
    background-color: #f3f3f3;
    color: gray;
}

nav ul.menu li a:active {
    color: red;
    background-color: #ebeaea;
}




/* Misc */
div.keepOpen{
    clear: both;
}